header {
    background: var(--light-grayish-black);
}


/* PRODUCT HEADPHONES */

.headphones {
    background-image: url("../../assets/home/mobile/image-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 100%;
}

.headphones--info {
    padding: 108px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headphones--info .overline {
    margin-bottom: 16px;
}

.headphones--info h1 {
    margin-bottom: 24px;
}

.headphones--info p.body.font--dark-gray {
    text-align: center;
    margin-bottom: 28px;
}


/* SHOP */

.shop {
    padding: 92px 0 120px 0;
}

.shop--card {
    height: 165px;
    background: var(--dark-grayish-white);
    margin-bottom: 68px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.shop--card:last-of-type {
    margin-bottom: 0;
}

.shop--title {
    margin-bottom: 17px;
    font-family: "Manrope", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1.07px;
    text-align: center;
    transition: color 0.5s ease-in-out;
}

.shop--card .button-3 {
    margin-bottom: 22px;
    transition: color 0.5s ease-in-out;
}

.shop--headphones::before,
.shop--speakers::before,
.shop--earphones::before {
    position: absolute;
    bottom: -67px;
    content: url("../../assets/shared/desktop/image-headphones.png");
    transform: scale(0.34);
}

.shop--speakers::before {
    content: url("../../assets/shared/desktop/image-speakers.png");
}

.shop--earphones::before {
    content: url("../../assets/shared/desktop/image-earphones.png");
}

.shop--card:hover .shop--title {
    color: white;
}

.shop--card:hover .button-3 {
    color: var(--brown);
}


/*ZX9 SPEAKER*/

.zx9-speaker .container {
    background: var(--brown);
    border-radius: 8px;
    padding: 55px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

.zx9-speaker--info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zx9-speaker .container img {
    height: 180px;
    width: auto;
    margin-bottom: 32px;
}

.zx9-speaker .container .zx9-speaker--info h1 {
    color: var(--white);
    margin-bottom: 24px;
}

.zx9-speaker .container .zx9-speaker--info .body {
    color: var(--white);
    text-align: center;
    font-weight: 100;
    margin-bottom: 24px;
}

.zx9-speaker .container .button-1 {
    background: var(--black);
}

.zx9-speaker .container .button-1:hover {
    background-color: var(--gray);
    color: var(--white);
}


/*ZX7 SPEAKER*/

.zx7-speaker .container {
    background: url("../../assets/home/mobile/image-speaker-zx7.jpg");
    border-radius: 8px;
    padding: 101px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 24px;
}

.zx7-speaker .container h4 {
    margin-bottom: 32px;
    transition: color 0.5s ease-in-out;
}

.zx7-speaker .container .button-2 {
    background: #dfdfdf;
}

.zx7-speaker .container:hover .button-2 {
    border: 1px solid transparent;
    /* background-color: var(--black); */
    color: var(--white);
    background: var(--light-grayish-white);
}

.zx7-speaker .container:hover h4 {
    color: var(--white);
}


/* YX1 EARPHONES*/

.yx1-earphones .container {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
    align-items: stretch;
}

.yx1-earphones .container .yx1-earphones--image {
    background: url("../../assets/home/mobile/image-earphones-yx1.jpg");
    width: 100%;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.yx1-earphones .container .yx1-earphones--info {
    padding: 41px 24px;
    padding-right: 0;
    background: var(--dark-grayish-white);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.yx1-earphones .container .yx1-earphones--info h4 {
    margin-bottom: 32px;
    transition: all 0.5s ease-in-out;
}

.yx1-earphones .container .yx1-earphones--info .button-2 {
    background: transparent;
    transition: all 0.5s ease-in-out;
}

.yx1-earphones .container .yx1-earphones--info:hover h4 {
    color: var(--white);
}

.yx1-earphones .container .yx1-earphones--info:hover .button-2 {
    color: var(--white);
    border: 1px solid transparent;
    background: var(--light-grayish-white);
}