/*--------------------------------------*/


/* BREAKPOINTS DOWN */


/*--------------------------------------*/


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .p-recommended .container .p-recommended__products .p-recommended__product .p-r__product-image {
        height: 160px;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .button--back {
        margin-top: 33px;
    }
    .p-detail {
        margin-bottom: 120px;
    }
    .p-detail,
    .p-detail .container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .p-detail__image {
        width: 40%;
        height: 480px;
        margin-bottom: 0;
    }
    .p-detail__description {
        width: 50%;
    }
    .p-detail__description p.overline {
        margin-bottom: 17px;
        font-size: 12px;
        letter-spacing: 8.57px;
    }
    .p-detail__description p.body {
        margin-bottom: 32px;
    }
    /* FEATURES AND CONTENTS */
    .p-features-and-contents .container .p-features h3,
    .p-features-and-contents .container .p-contents h3 {
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 1.14px;
        line-height: 36px;
        margin-bottom: 32px;
    }
    .p-features-and-contents .container .p-contents h3 {
        margin-bottom: 0;
        width: 50%;
    }
    .p-features-and-contents .container .p-features,
    .p-features-and-contents .container .p-contents {
        margin-bottom: 120px;
    }
    .p-features-and-contents .container .p-contents {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    /* PRODUCT COLLAGE */
    .p-collage .container {
        flex-direction: row;
        margin-bottom: 120px;
        justify-content: space-between;
    }
    .p-collage .container .p-collage__small {
        display: flex;
        flex-direction: column;
        width: calc(41.5% - 9px);
    }
    .p-collage .container .p-collage__small .p-collage__small-image1,
    .p-collage .container .p-collage__small .p-collage__small-image2 {
        width: 100%;
        height: 174px;
        margin-bottom: 20px;
        border-radius: 8px;
    }
    .p-collage .container .p-collage__large-image1 {
        width: calc(58.5% - 9px);
        height: 368px;
        margin-bottom: 0;
        border-radius: 8px;
    }
    /* PRODUCT RECOMMENDED */
    .p-recommended .container h3 {
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 1.14px;
        line-height: 36px;
        margin-bottom: 56px;
        width: 100%;
        text-align: center;
    }
    .p-recommended .container .p-recommended__products {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .p-recommended .container .p-recommended__products .p-recommended__product {
        margin-bottom: 0;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 0;
        flex-grow: 1;
    }
    .p-recommended .container .p-recommended__products .p-recommended__product:last-of-type {
        margin-right: 0;
    }
    .p-recommended .container .p-recommended__products .p-recommended__product .p-r__product-image {
        width: 100%;
        height: 318px;
        margin-bottom: 40px;
        border-radius: 8px;
    }
    .p-recommended .container .p-recommended__products .p-recommended__product h5 {
        margin-bottom: 32px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .button--back {
        margin-top: 79px;
        margin-bottom: 56px;
    }
    .p-detail {
        margin-bottom: 160px;
    }
    .p-detail__image {
        width: 48%;
        height: 560px;
        margin-bottom: 0;
    }
    .p-detail__description {
        width: 40%;
    }
    .p-detail__description p.overline {
        margin-bottom: 16px;
        font-size: 14px;
        letter-spacing: 10x;
    }
    .p-detail__description h2 {
        font-size: 40px;
        line-height: 44px;
        letter-spacing: 1.43px;
        margin-bottom: 32px;
    }
    .p-detail__description h6 {
        margin-bottom: 47px;
    }
    /* PRODUCT COLLAGE */
    .p-collage .container {
        display: flex;
        flex-direction: row;
        margin-bottom: 160px;
        justify-content: space-between;
    }
    .p-collage .container .p-collage__small {
        display: flex;
        flex-direction: column;
        width: calc(41.5% - 15px);
    }
    .p-collage .container .p-collage__small .p-collage__small-image1,
    .p-collage .container .p-collage__small .p-collage__small-image2 {
        width: 100%;
        height: 280px;
        margin-bottom: 0;
        border-radius: 8px;
    }
    .p-collage .container .p-collage__small .p-collage__small-image1 {
        margin-bottom: 32px;
    }
    .p-collage .container .p-collage__large-image1 {
        width: calc(58.5% - 15px);
        height: 592px;
        margin-bottom: 0;
        border-radius: 8px;
    }
    /* PRODUCT RECOMMENDED */
    .p-recommended .container .p-recommended__products .p-recommended__product {
        margin-bottom: 0;
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 0;
        flex-grow: 1;
    }
    .p-recommended .container .p-recommended__products .p-recommended__product:last-of-type {
        margin-right: 0;
    }
    .p-recommended .container {
        margin-bottom: 160px;
    }
}


/* Extra large devices (large laptops and desktops, 1400px and up) */

@media only screen and (min-width: 1200px) {
    /* FEATURES AND CONTENTS */
    .p-features-and-contents .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 160px;
    }
    .p-features-and-contents .container .p-features h3,
    .p-features-and-contents .container .p-contents h3 {
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 1.14px;
        line-height: 36px;
        margin-bottom: 32px;
        width: 100%;
    }
    .p-features-and-contents .container .p-features {
        width: 57%;
    }
    .p-features-and-contents .container .p-contents {
        width: 31%;
    }
    .p-features-and-contents .container .p-features,
    .p-features-and-contents .container .p-contents {
        margin-bottom: 0;
    }
    .p-features-and-contents .container .p-features .body {
        color: var(--dark-gray);
    }
    .p-features-and-contents .container .p-contents {
        display: flex;
        flex-direction: column;
    }
    .p-features-and-contents .container .p-contents .p-contents__items {
        list-style-type: none;
    }
    .p-features-and-contents .container .p-contents .p-contents__items .p-item {
        margin-bottom: 8px;
    }
    .p-features-and-contents .container .p-contents .p-contents__items .p-item .p-item__quantity {
        margin-right: 24px;
        color: var(--brown);
    }
    .p-features-and-contents .container .p-contents .p-contents__items .p-item .p-item__quantity.p-item__quantity-two-x {
        margin-right: 21px;
    }
    .p-features-and-contents .container .p-contents .p-contents__items .p-item .p-item__name {
        color: var(--dark-gray);
        text-transform: capitalize;
    }
}

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1600px) {}


/*--------------------------------------*/


/* BREAKPOINTS UP */


/*--------------------------------------*/


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 599px) {}


/* Small devices (portrait tablets and large phones, 767px and down) */

@media only screen and (max-width: 767px) {}


/* Medium devices (landscape tablets, 991px and down) */

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 1399px) {}