/*--------------------------------------*/


/* BREAKPOINTS DOWN */


/*--------------------------------------*/


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .mark-2-snapshot .container .product-snapshot--image {
        background: url("../../../assets/category-headphones/tablet/image-xx99-mark-two.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .mark-1-snapshot .container .product-snapshot--image {
        background: url("../../../assets/category-headphones/tablet/image-xx99-mark-one.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .xx59-snapshot .container .product-snapshot--image {
        background: url("../../../assets/category-headphones/tablet/image-xx59.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .shop {
        padding-bottom: 0;
        margin-bottom: 120px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .mark-2-snapshot .container .product-snapshot--image {
        background: url("../../../assets/category-headphones/desktop/image-xx99-mark-two.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .mark-1-snapshot .container .product-snapshot--image {
        background: url("../../../assets/category-headphones/desktop/image-xx99-mark-one.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .xx59-snapshot .container .product-snapshot--image {
        background: url("../../../assets/category-headphones/desktop/image-xx59.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .shop {
        padding-bottom: 0;
        margin-bottom: 160px;
    }
}


/* Extra large devices (large laptops and desktops, 1400px and up) */

@media only screen and (min-width: 1400px) {}


/*--------------------------------------*/


/* BREAKPOINTS UP */


/*--------------------------------------*/


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 599px) {}


/* Small devices (portrait tablets and large phones, 767px and down) */

@media only screen and (max-width: 767px) {}


/* Medium devices (landscape tablets, 991px and down) */

@media only screen and (max-width: 991px) {}


/* Large devices (laptops/desktops, 1399px and down) */

@media only screen and (max-width: 1399px) {}