/*--------------------------------------*/


/* BREAKPOINTS DOWN */


/*--------------------------------------*/


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .zx9-snapshot .container .product-snapshot--image {
        background: url("../../../assets/category-speakers/tablet/image-zx9.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .zx7-snapshot .container .product-snapshot--image {
        background: url("../../../assets/category-speakers/tablet/image-zx7.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .shop {
        padding-bottom: 0;
        margin-bottom: 120px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .zx9-snapshot .container .product-snapshot--image {
        background: url("../../../assets/category-speakers/desktop/image-zx9.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .zx7-snapshot .container .product-snapshot--image {
        background: url("../../../assets/category-speakers/desktop/image-zx7.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .shop {
        padding-bottom: 0;
        margin-bottom: 160px;
        padding-top: 69px;
    }
}


/* Extra large devices (large laptops and desktops, 1400px and up) */

@media only screen and (min-width: 1400px) {}


/*--------------------------------------*/


/* BREAKPOINTS UP */


/*--------------------------------------*/


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 599px) {}


/* Small devices (portrait tablets and large phones, 767px and down) */

@media only screen and (max-width: 767px) {}


/* Medium devices (landscape tablets, 991px and down) */

@media only screen and (max-width: 991px) {}


/* Large devices (laptops/desktops, 1399px and down) */

@media only screen and (max-width: 1399px) {}