header {
    background: var(--black);
    padding: 35px 0;
    position: relative;
    border: none;
}

header,
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.header--hamburger,
.header--hamburger img {
    background: var(--grayish-black);
    border: none;
    height: 15px;
    width: auto;
}

#header--logo {
    height: 25px;
    width: 143px;
}

#header--cart {
    height: fit-content;
    width: fit-content;
    border: none;
    background: transparent;
}

#header--cart img {
    height: 20px;
    width: 23px;
}

header::after {
    position: absolute;
    content: "";
    height: 1px;
    background: var(--light-grayish-black);
    bottom: 0;
    left: 0;
    right: 0;
}

.header--nav-main a {
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 25px;
    letter-spacing: 2px;
    color: var(--white);
    margin-left: 34px;
    transition: color 1s ease-in-out;
}

.header--nav-main a:hover,
.header--nav-main a:active {
    color: var(--brown);
}


/* MENU OVERLAY */

.header--menu {
    flex-direction: column;
    align-items: center;
    padding: 35px 0;
    padding-top: 84px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: absolute;
    background-color: var(--white);
    left: 0;
    right: 0;
    top: 95px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms ease-in-out;
    z-index: 99;
    /* overflow-y: scroll; */
}

.header--menu .container {
    width: calc(100% - 48px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}


/* MENU CARD */

.menu--card {
    height: 165px;
    width: 100%;
    background: var(--dark-grayish-white);
    margin-bottom: 68px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.menu--card:last-of-type {
    margin-bottom: 0;
}


/* MENU FONTS */

.menu--title {
    margin-bottom: 17px;
    font-family: "Manrope", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1.07px;
    text-align: center;
    transition: color 0.5s ease-in-out;
}

.menu--card .button-3 {
    margin-bottom: 22px;
    transition: color 0.5s ease-in-out;
}


/* OVERLAY */

.overlay {
    position: absolute;
    background-image: linear-gradient(to bottom, rgb(82, 82, 82), transparent);
    left: 0;
    right: 0;
    top: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms ease-in-out;
}


/* MENU OPEN */

.header--menu.menu-open,
.overlay.menu-open {
    opacity: 1;
    visibility: visible;
}


/* MENU IMAGES */

.menu--headphones::before,
.menu--speakers::before,
.menu--earphones::before {
    position: absolute;
    bottom: -67px;
    content: url("../../../assets/shared/desktop/image-headphones.png");
    transform: scale(0.4);
    z-index: 2;
}

.menu--speakers::before {
    content: url("../../../assets/shared/desktop/image-speakers.png");
}

.menu--earphones::before {
    content: url("../../../assets/shared/desktop/image-earphones.png");
}

.menu--card:hover .shop--title {
    color: white;
}

.menu--card:hover .button-3 {
    color: var(--brown);
}


/* MAKE NAVBAR STICKY */

header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}