/* SHOP */

.shop {
    padding: 92px 0 120px 0;
}

.shop--card {
    height: 165px;
    background: var(--dark-grayish-white);
    margin-bottom: 68px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.shop--card:last-of-type {
    margin-bottom: 0;
}

.shop--title {
    margin-bottom: 17px;
    font-family: "Manrope", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1.07px;
    text-align: center;
    transition: color 0.5s ease-in-out;
}

.shop--card .button-3 {
    margin-bottom: 22px;
    transition: color 0.5s ease-in-out;
}

.shop--headphones::before,
.shop--speakers::before,
.shop--earphones::before {
    position: absolute;
    bottom: -67px;
    content: url("../../../assets/shared/desktop/image-headphones.png");
    transform: scale(0.34);
}

.shop--speakers::before {
    content: url("../../../assets/shared/desktop/image-speakers.png");
}

.shop--earphones::before {
    content: url("../../../assets/shared/desktop/image-earphones.png");
}

.shop--card:hover .shop--title {
    color: white;
}

.shop--card:hover .button-3 {
    color: var(--brown);
}