/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    /* SHOP */
    .shop {
        padding: 148px 0 96px 0;
    }
    .shop .container,
    .shop {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .shop--card {
        flex-grow: 1;
        margin-left: 10px;
        margin-bottom: 0;
    }
    .shop--card:first-of-type {
        margin-left: 0;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    /* SHOP */
    .shop {
        padding: 200px 0 168px 0;
    }
    .shop--card {
        flex-grow: 1;
        margin-left: 30px;
        margin-bottom: 0;
        height: 204px;
    }
    .shop--card:first-of-type {
        margin-left: 0;
    }
    .shop--title {
        font-size: 18px;
        letter-spacing: 1.29px;
    }
    .shop--headphones::before,
    .shop--speakers::before,
    .shop--earphones::before {
        position: absolute;
        bottom: -35px;
        content: url("../../../assets/shared/desktop/image-headphones.png");
        transform: scale(0.45);
    }
    .shop--speakers::before {
        content: url("../../../assets/shared/desktop/image-speakers.png");
    }
    .shop--earphones::before {
        content: url("../../../assets/shared/desktop/image-earphones.png");
    }
}